body {
  width: 325px;
  height: 607px;
  padding: 10px 20px;
}

.input-area .left-side {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: middle;
}

.input-area .right-side {
  display: inline-block;
  width: 65px;
  vertical-align: middle;
  text-align: center;
}

.btn-area {
  text-align: center;
}

table {
  width: 100%;
}

table tbody tr td {
  width: 50%;
  word-break: break-all;
}

#result {
  display: none;
  padding-bottom: 20px;
}

#path {
  word-break: break-all;
}
