body {
  width: 300px;
  height: 600px;
  padding: 10px;
}

#input-area {
  padding: 0 10px 25px 10px;
  background-color: #f5f2f0;
}

#input-area .text-area .left-side {
  display: inline-block;
  width: calc(100% - 40px);
  vertical-align: middle;
}

#input-area .text-area .left-side .mdl-textfield__input {
  background-color: white;
  font-size: 14px;
}

#input-area .text-area .left-side .mdl-textfield__label {
  font-size: 14px;
}

#input-area .text-area .right-side {
  display: inline-block;
  width: 35px;
  vertical-align: middle;
  text-align: center;
}

#input-area .btn-area {
  text-align: center;
}

#result-area {
  padding-bottom: 20px;
}

#result-area .path-content {
  margin: 0 8px;
  word-break: break-all;
}

#result-area .query-title {
  display: inline-block;
  width: 260px;
}

#result-area #copy-btn {
  position: relative;
  top: 6px;
  cursor: pointer;
}

#result-area #copy-btn:focus {
  outline: none;
}

#result-area table {
  width: 100%;
}

#result-area table tbody tr td {
  width: 50%;
  word-break: break-all;
}

#result-area .mdl-data-table {
  white-space: normal;
}

#result-area .mdl-data-table th {
  height: 42px;
  padding: 0 8px 8px 8px;
}

#result-area .mdl-data-table tbody tr {
  height: 38px;
}

#result-area .mdl-data-table td {
  height: 38px;
  padding: 8px 18px 8px 8px;
}
